* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("coffeeBG.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .logo span {
    color: #C06B3E;
}

.navbar .menu-link{
    display: flex;
    gap: 40px;
    font-size: 13px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #C06B3E;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-section .content h1 {
    font-size: 2rem;
    max-width: 500px;
}

.hero-section .content p {
    font-size: 15px;
    margin-top: 15px;
    max-width: 350px;
}

.hero-section .content button {
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.hero-section .content button:hover {
    color: #fff;
    background-color: #C06B3E;
}

#menu-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
    display: none;
    }


@media screen and (max-width: 900px) {

    header {
        padding: 10px 20px;

    }
    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    #menu-btn , #close-menu-btn {
    display: block;
    }

    .navbar .menu-link {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        padding: 70px 40px 0;
        list-style: none;
        transition: left 0.15s ease;
    }

    .navbar a {
        color: #000;
        
    }

    .navbar a:hover {
    color: #C06B3E;
}

    header.show-mobile-menu .navbar .menu-link {
        left: 0;
    }

    .hero-section .content {
        text-align: center;
    }

    .hero-section .content :is(h1,p) {
        max-width: 100%;
    }

    .hero-section .content h1 {
        font-size: 2.3rem;
        line-height: 60px;
    }

    .hero-section .content button {
        padding: 9px 18px;
    }
}    
